<!--
Use bootstrap columns to make a form on the left and the graph on the right

form needs to handle chart type selection (dropdown), x value (and y value if appropriate), any other relevant options (look at data)

line, scatter, pie, bar/column
-->

<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://bouil.github.io/angular-google-chart/ng-google-chart.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      
      angular.module('google-chart-example', ['googlechart']).controller("MainCtrl", function ($scope) {

        $scope.chartTypes = ["AreaChart","PieChart","BarChart","ColumnChart","LineChart","Table"];
        $scope.variables = ["Species","Evenness","Number of Animals"];

    $scope.chartObject = {
  "type": "AreaChart",
  "displayed": false,
  "data": {
    "cols": [
      {
        "id": "month",
        "label": "Month",
        "type": "string",
        "p": {}
      }
    ],
    "rows": [
      {
        "c": [
          {
            "v": "January"
          },
          {
            "v": 19,
            "f": "42 items"
          },
          {
            "v": 12,
            "f": "Ony 12 items"
          },
          {
            "v": 7,
            "f": "7 servers"
          },
          {
            "v": 4
          }
        ]
      }
    ]
  },
  "options": {
    "title": "Sales per month",
    "isStacked": "true",
    "fill": 20,
    "displayExactValues": true,
    "vAxis": {
      "title": "Sales unit",
      "gridlines": {
        "count": 10
      }
    },
    "hAxis": {
      "title": "Date"
    }
  },
  "formatters": {}
}

});
    </script>
  </head>
  <body ng-app="google-chart-example" ng-controller="MainCtrl">
    <div class="page-header">
      <h1>Please select the graph attributes</h1>
    </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <div class= "row">
              <div class="form-group">
                <label for="type" class="col-sm-2 control-label">Chart Type:</label>
                <div class="col-sm-10">
                    <select class="form-control ng-pristine ng-valid" id="chartType" ng-model="chartObject.type" ng-change="chartSelectionChange()">
                      <option ng-repeat="v in chartTypes" value="v">{{v}}</option>
                    </select>
                </div>
              </div>
            </div>
            <div class= "row">
              <div class="form-group">
                <label for="x-axis" class="col-sm-2 control-label">x-axis Label:</label>
                <div class="col-sm-10">
                    <select class="form-control ng-pristine ng-valid" id="x-axis" ng-model="chartObject.label" ng-change="chartSelectionChange()">
                      <option ng-repeat="v in variables" value="v">{{v}}</option>
                    </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label for="y-axis" class="col-sm-2 control-label">y-axis Label:</label>
                <div class="col-sm-10">
                    <select class="form-control ng-pristine ng-valid" id="chartType" ng-model="chartObject.label" ng-change="chartSelectionChange()">
                      <option>-</option>
                      <option ng-repeat="v in variables" value="v">{{v}}</option>
                    </select>
                </div>
              </div> 
            </div> 
          </div>
          <div class="col-xs-8">
            <div google-chart chart="chartObject" style="{{cssStyle}}"></div>
          </div>
        </div>
      </div>
  </body>
</html>