<html>
<head>
	<title>Admin Dashboard</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/2.10.2/rzslider.min.css
"/>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
  <script src="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.js"></script>
	<script src="app.js"></script>

</head>

<body ng-controller="MainController" ng-App="adminDash">

<div class="container">
<div class="page-header">
<h1>Welcome Admin</h1>
</div>
<div class="row">
  			<div class="col-md-3" id="leftCol">
              	
				<div class="well" id="filters" ng-controller="FilterController"> 
				<h1 class="h4">Filters</h1>
				<form>
				<b>Species</b><br>
				<div class="checkbox">
				   <label>
				     <input type="checkbox"> Species 1
				   </label>
				 </div>
				 <div class="checkbox">
				   <label>
				     <input type="checkbox"> Species 2
				   </label>
				 </div>
				 <b>Evenness</b><br>
          
        
        

             
            
            <rzslider rz-slider-model="minRangeSlider.minValue" rz-slider-high="minRangeSlider.maxValue" rz-slider-options="minRangeSlider.options"></rzslider>
            <input type="number" step="0.1" ng-model="minRangeSlider.minValue" />
            <input type="number" step="0.1" ng-model="minRangeSlider.maxValue" />
            <br/>
       
        
          

          <style>

          * {
        margin: 0;
        padding: 0;
        }
        
        .field-title {
            width: 100px;
        }


          </style>
    
    

    

    
    

    
    

         
      


				 <b>Num Species</b><br>
				 <b>Location</b><br>
         <!-- postcode, radius -->
         <b>Users</b><br>
         
         <b>Gender</b><br>
         <div class="checkbox">
           <label>
             <input type="checkbox"> Male
           </label>
         </div>
         <div class="checkbox">
           <label>
             <input type="checkbox"> Female
           </label>
         </div>
         <div class="checkbox">
           <label>
             <input type="checkbox"> Unknown
           </label>
         </div>
         
         <b>Age</b><br>
         <b>Time Period</b><br>
         <b>Site</b><br>
         <b>Sequence</b><br>
         <!-- checkboxes -->
         <b>Habitat Type</b><br>
         <b>Human Presence</b><br>
         <!--tickbox yes -->
         <b>Blank Images</b><br>
         <div class="checkbox">
           <label>
             <input type="checkbox"> Show blank images
           </label>
         </div>
         <b>Number of Classifications</b><br>
         <b>Consensus/Manual Checking</b><br>

        
         <!-- users
         gender
         age
         time period (seconds if poss)
         site (arbitary geographical aRea)
         sequence
         habitat type
         human presence
         blank images
         number of classifications
         concencus/mannual checking -->

         <!-- need a table of sites -->
         	</form>
  				</div>

      		</div>  
      		<div class="col-md-6">
              	<h2 id="sec0">Main Content</h2>
                Main stuff
                <div id="searchResults" ng-controller="SearchResultsController">search Results
				{{var1}}
				</div>
				<hr>
            </div> 
              	
                          	
             <div class="col-md-3" id="rightCol">
				<div class="well"> 
                  <h1 class="h4">Summary</h1>
                  summary stats. How many results?
  				</div>
  				<div class="well"> 
                  <h1 class="h4">Graphs</h1>
                  ooo pwetty sample graph
                  and option to make more graphs
  				</div>
  				<div class="well"> 
                  <h1 class="h4">Export CSV</h1>
                  CSV options
  				</div>
      		</div>	
              	

  	</div>
  </div>



</body>
</html>