  <div class="page">
    <img ng-show="loaded" ng-repeat="slide in results track by $index"
         ng-if="isCurrentSlideIndex($index)" ng-src="{{slide.URL}}" class="fullBg {{currentAnimation}}" >
    <div class="well" id="infoBox" ng-show="loaded" ng-repeat="slide in results track by $index"
         ng-if="isCurrentSlideIndex($index)">
        <b>{{getOptionName(slide.Classification[0].species)}}</b> in {{slide.Site.site_name}}</br>
        taken on {{slide.taken | date:'dd/MM/yyyy HH:mm'}}
    </div>
</div>


    