<div ng-cloak ng-controller="chordController" style="color:white !important">
  <style>
  text{
    fill:white !important
  }

  #tooltip{
    position: absolute;
    bottom: 50px;
    left: 5px;
  }

  .chart{
    height: 100% !important;
  }
  </style>
  <div class="container">
      <div class="row">
          <div class="col-xs-8 col-xs-offset-2" role="content">
            <article>
              <chord-diagram></chord-diagram>
            </article>
          </div>
      </div>
      <div class="row">
          <fieldset id="tooltip" class="row secondary" ng-if="tooltip.tvalue!==undefined">
            <div class="col-xs-12 columns">
              <h6>{{ tooltip.tvalue }} occurances of{{ tooltip.sname }} in the same site as  {{ tooltip.tname }}
            </div>
          </fieldset>
      </div>
  </div>

  <!--<button type="button" class="btn btn-danger" ng-click="getFullResults()" style="position:absolute;bottom:20px;left:20px">Use Full Dataset</button><div class="form-group">-->
</div>

  <script>
    $(document).foundation();
  </script>
</div>
